{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="static/css/map.css" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card.css')}}">
<div class="image-div">
    NEWS
</div>


<div class="card-class-container">
    <div class="card-class">
        <img class="card-class-image"
            src="https://www.nichd.nih.gov/sites/default/files/2019-03/maternalmortality_banner.jpg"
            alt="Card image cap">
        <div>
            <div class="card-class-subtext">What are examples and causes of maternal morbidity and mortality?</div>
            <a class="card-class-button"
                href="https://www.nichd.nih.gov/health/topics/maternal-morbidity-mortality/conditioninfo/causes">
                READ MORE
            </a>
        </div>
    </div>
    <div class="card-class">
        <img class="card-class-image"
            src="https://static01.nyt.com/images/2019/02/27/well/family/00well-maternal/00well-maternal-superJumbo.jpg?quality=90&auto=webp"
            alt="Card image cap">
        <div>
            <div class="card-class-subtext">Reducing Maternal Mortality</div>
            <a class="card-class-button"
                href="https://static01.nyt.com/images/2019/02/27/well/family/00well-maternal/00well-maternal-superJumbo.jpg?quality=90&auto=webp">
                READ MORE
            </a>
        </div>
    </div>
    <div class="card-class">
        <img class="card-class-image"
            src="https://static01.nyt.com/images/2019/05/07/science/07PREGNANCY-DEATHS/merlin_133802664_ace49ff5-aeb3-4b44-9ec3-4f161ae89790-superJumbo.jpg?quality=90&auto=webp"
            alt="Card image cap">
        <div>
            <div class="card-class-subtext">Huge Racial Disparities Found in Deaths Linked to Pregnancy</div>
            <a class="card-class-button" href="https://www.nytimes.com/2019/05/07/health/pregnancy-deaths-.html">
                READ MORE
            </a>
        </div>
    </div>
    <div class="card-class">
        <img class="card-class-image"
            src="https://media.npr.org/assets/img/2017/12/07/harlan_npr_wandairving_24_custom-30c82a935618b588055fc0e821a6473dad44aa12-s2500-c85.jpg"
            alt="Card image cap">
        <div>
            <div class="card-class-subtext">Black Mothers Keep Dying After Giving Birth.</div>
            <a class="card-class-button"
                href="https://www.npr.org/2017/12/07/568948782/black-mothers-keep-dying-after-giving-birth-shalon-irvings-story-explains-why">
                READ MORE
            </a>
        </div>
    </div>
    <div class="card-class">
        <img class="card-class-image"
            src="https://img.freepik.com/free-photo/woman-using-lancelet-finger-woman-doing-blood-sugar-test-home-living-room-diabetes-control_657921-1375.jpg?w=996&t=st=1664286654~exp=1664287254~hmac=ffed685b0508d06c9235884e71fb262a880799da8a7a948b97793ada62ce04e0"
            alt="Card image cap">
        <div>
            <div class="card-class-subtext">Pre-existing Diabetes Can Increase Risk for Birth Defects</div>
            <a class="card-class-button" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4398903/">
                READ MORE
            </a>
        </div>
    </div>
    <div class="card-class">
        <img class="card-class-image"
            src="https://cdn.the-scientist.com/assets/articleNo/67755/hImg/38739/banner-pregnant-x.png"
            alt="Card image cap">
        <div>
            <div class="card-class-subtext">Two COVID-19 Clinical Trials Seek to Enroll Pregnant Women</div>
            <a class="card-class-button"
                href="https://www.the-scientist.com/news-opinion/two-covid-19-clinical-trials-seek-to-enroll-pregnant-women-67755">
                READ MORE
            </a>
        </div>
    </div>
    <div class="card-class">
        <img class="card-class-image" src="https://cdn.mos.cms.futurecdn.net/7tzbK4xbCQeDrV5xZzBYmA-1024-80.jpg.webp"
            alt="Card image cap">
        <div>
            <div class="card-class-subtext">Dietary Supplement Ingredient Linked to Miscarriages, FDA Warns</div>
            <a class="card-class-button"
                href="https://www.livescience.com/65629-vinpocetine-supplements-miscarriages.html">
                READ MORE
            </a>
        </div>
    </div>
    <div class="card-class">
        <img class="card-class-image"
            src="https://media.npr.org/assets/img/2018/07/28/maternity_npr_brm047_custom-af35a2a6e99f7c3152a71e39242e505a87ed39ec-s2500-c85.jpg"
            alt="Card image cap">
        <div>
            <div class="card-class-subtext">Keep Women From Dying In Childbirth, Look To California</div>
            <a class="card-class-button"
                href="https://www.npr.org/2017/12/22/572298802/nearly-dying-in-childbirth-why-preventable-complications-are-growing-in-u-s">
                READ MORE
            </a>
        </div>
    </div>
    <div class="card-class">
        <img class="card-class-image"
            src="https://media.npr.org/assets/img/2017/12/21/maternalm_ipl_021_custom-36633826e1baf6a39f44bf9f364d07e80f84e804-s1600-c85.jpg"
            alt="Card image cap">
        <div>
            <div class="card-class-subtext">Nearly Dying In Childbirth: Why Preventable Complications Are Growing In
                U.S.</div>
            <a class="card-class-button"
                href="https://www.npr.org/2017/12/22/572298802/nearly-dying-in-childbirth-why-preventable-complications-are-growing-in-u-s">
                READ MORE
            </a>
        </div>
    </div>
</div>
{% endblock %}