{% extends "layout.html" %}
{% block body %}
<br/>
<div class="image-div">
  MIDWIFE PORTAL
</div>

<div class="container d-flex flex-row flex-wrap p-5">

<div class="card" style="width: 30rem; margin: 1rem;box-shadow: 2px 4px 4px 2px rgba(0,0,0,.2);">
    <img class="card-img-top" src="https://www.onmanorama.com/content/dam/mm/en/career-and-campus/top-news/images/2021/3/1/nurse.jpg.transform/onm-articleimage/image.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sushmita</h5>
      <p class="card-text"><strong>Experience: </strong> 4yrs</p>
      <p class="card-text"><strong>Location: </strong> Within 10km</p>
      <p class="card-text"><strong>Contact: </strong> <a href="tel:92123xxxxx">92123xxxxx</a></p>
    </div>
  </div>

  <div class="card" style="width: 30rem; margin: 1rem;box-shadow: 2px 4px 4px 2px rgba(0,0,0,.2);">
    <img class="card-img-top" src="https://images.indianexpress.com/2018/03/nurse-759.jpg?w=389" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sugandha</h5>
      <p class="card-text"><strong>Experience: </strong> 6yrs</p>
      <p class="card-text"><strong>Location: </strong> Within 15km</p>
      <p class="card-text"><strong>Contact: </strong> <a href="tel:87123xxxxx">87123xxxxx</a></p>
    </div>
  </div>

</div>
{% endblock %}